{% extends 'app_base.html' %}
{% block title %}Budgetapp - Konta{% endblock %}
{% block body %} 
    <h1>Konta</h1>
    <button id="add_button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Dodaj
    </button>
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Zmień
    </button>
    <button type="button" class="btn btn-danger" id="remove_button">Usuń</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"><div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Nazwa konta</span>
                    <input type="text" id="account_name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placehoder="Nazwa konta"/>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button id="confirm_btn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Zatwierdź</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-stripped" id="accounts_table">
    </table>
{% endblock body %}  

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/accounts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock scripts %}