{% extends 'app_base.html' %}
{% block title %}Budgetapp - Konta{% endblock %}
{% block body %} 
    <h1>Konta</h1>
    <table class="table table-stripped">
        <tr>
            <th width="10%">id konta</th>
            <th width="20%">Nazwa konta</th>
            <th>Właściciele</th>
        </tr>
    {% for account in accounts %}
            <tr>
                <td><a class="nav-link" href="#">{{ account.ID_Acc }}</a></td>
                <td><a class="nav-link" href="#">{{ account.name }}</a></td>
                <td>
                    {% for owner in account.owners %}
                        |   {{ owner.nick }}    
                    {% endfor %}
                </td>
            </tr>
    {% endfor %}
    </table>
{% endblock body %}  