{% extends 'app_base.html' %}
{% block title %}Budgetapp - Operacje{% endblock %}
{% block body %} 
    <h1>Operacje</h1>

    <button id="add_button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Dodaj
    </button>

    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Zmień
    </button>

    <button type="button" class="btn btn-danger" id="remove_button">
        Usuń
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Wpisz nazwę konta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Nazwa konta</span>
                        <select id="accounts_select" class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                        </select>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Nazwa kategorii</span>
                        <select id="categories_select" class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                        </select>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Data</span>
                        <input type="text" id="date" class="form-control datepicker" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Data"/>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Przewidywanie</span>
                        <select id="predictions_select" class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                            <option selected>Brak</option>
                        </select>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Opis</span>
                        <input type="text" id="description" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placehoder="Waluta"/>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Wartość</span>
                        <input type="text" id="value" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placehoder="Waluta"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button id="confirm_btn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Zatwierdź</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center p-3">
        <div class="row">
            <div class="col">
                <select id="month" class="form-select">
                    <option selected value="0">Wybierz miesiąc<option>
                    <option name="month" value="1">Styczeń</option>
                    <option name="month" value="2">Luty</option>
                    <option name="month" value="3">Marzec</option>
                    <option name="month" value="4">Kwiecień</option>
                    <option name="month" value="5">Maj</option>
                    <option name="month" value="6">Czerwiec</option>
                    <option name="month" value="7">Lipiec</option>
                    <option name="month" value="8">Sierpień</option>
                    <option name="month" value="9">Wrzesień</option>
                    <option name="month" value="10">Październik</option>
                    <option name="month" value="11">Listopad</option>
                    <option name="month" value="12">Grudzień</option>
                </select>
            </div>
            <div class="col">
                <input id="year" class="form-control" type="text" placeholder="Wpisz rok"></input>
            </div>
            <div class="col">
                <button id="filter" type="button" class="btn btn-primary">Filtruj</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" id="operations_table">
        </table>
    </div>
{% endblock body %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/operations.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock scripts %}