{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-expand-lg bg-light">
<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">BudgetApp</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('budgetapp.dashboard') }}">Dashboard</a>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('budgetapp.accounts') }}">Konta</a>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('budgetapp.categories') }}">Kategorie</a>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('budgetapp.predictions') }}">Przewidywania</a>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('budgetapp.operations') }}">Operacje</a>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('budgetapp.transfers') }}">Transfery</a>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Wyloguj</a>
        </ul>
        <div>
            Zalogowany jako: 
            <p id="username">{{ current_user.username }}</p>
            <p id="apikey" style="display: none;">{{ current_user.apikey }}</p>
        </div>
    </div>
</div>
</nav>
{% endblock nav %}

{% block scripts %}
{% endblock scripts %}
